<template>
  <q-page class="">
      <div class="q-pa-md q-gutter-md">
  <q-item v-ripple>
      <q-item-section side>
        <q-avatar rounded size="48px">
          <img src="~assets/profile.png" />
          <q-badge floating color="teal">new</q-badge>
        </q-avatar>
      </q-item-section>
      <q-item-section>
         <q-item-label><b>Socio no: {{member[0].code}}</b></q-item-label>
        <q-item-label><b>{{member[0].name}}</b></q-item-label>
         <q-item-label><b>{{member[0].phone}}</b></q-item-label>
         <q-item-label caption>Total Talentos: <b>{{member[0].talents}}</b></q-item-label>
      </q-item-section>
      <q-item-section side>
        <b>{{member[0].occupation}}</b>
      </q-item-section> 
    </q-item>
      </div>
    <!--  <router-link class="btn btn-success btn-lg btn-block" to="/office/" role="button">Directorio de oficios</router-link>
     <router-link class="btn btn-success btn-lg btn-block" to="/service/" role="button">Pagar servicio</router-link>
     <router-link class="btn btn-success btn-lg btn-block" to="/balance/" role="button">Estado de cuenta</router-link>
     <router-link class="btn btn-success btn-lg btn-block" to="/teachers/" role="button">Aprendices y Maestros</router-link>
 --><q-list padding class="rounded-borders" style="max-width: 450px">
        <q-item-label header>Movimientos</q-item-label>   
        <q-item-section>
          
        </q-item-section>
    </q-list>
<div class="q-pa-md q-gutter-md">
    <q-table
    title="   Movimientos"
    :data="tableData"
    :columns="columns"
    row-key="name"
    hide-bottom
  />
    
  </div>
  </q-page>
  
</template>

<script>
import axios from 'axios'
import { QTable } from 'quasar'
import { date } from 'quasar'
import { Cookies } from 'quasar'

export default {
  name: 'Balance',
  data () {
      return {
      columns:[{
          
        required: true,
        label: 'Socio',
        align: 'left',
        field: 'receiver',
        sortable: true
      },{
        required: true,
        label: 'Talentos',
        align: 'left',
        field: 'talents',
        sortable: true
      },
      {
        required: true,
        label: '%',
        align: 'left',
        field: 'percent',
        sortable: true
      }
      ,{
        required: true,
        label: 'Fecha / Hora',
        align: 'left',
        field: 'created_at',
        sortable: true,
        format: val => date.formatDate(val, 'DD-MM-YYYY HH:mm:ss')
      }],
      tableData: [{}],
      link: 'inbox',
      member: '',
      movs:'',
      id: 0,
    }
  },
  created: function(){
    console.log(this.$route.query.id)
    //this.id = this.$route.query.id;
    this.id = Cookies.get("lcode");
   axios.get('http://tutitrueques.ddns.net:3000/members/info/' + this.id)
    .then((res) => {
      this.member = res.data;
     // this.form.socio = res.data[0].id;
      //this.owner = res.data[0].talents;
        console.log(res.data);
    })
       axios.get('http://tutitrueques.ddns.net:3000/transf/info/' + this.id)
        .then((res) => {
            this.tableData = res.data;
          console.log(res.data);
          this.movs = res.data;
          var cal = 0;
          var counter = 0;
          res.data.forEach((value, index) => {
           //   arr.push(value);
           cal += value.score;
           counter++;
              //console.log(value++);
           //   console.log(index);
          });
       //   this.services = counter;
        //  this.qualify = cal/counter;
         // console.log(cal/counter);
        })
  }
}
</script>
