<template>
    <div class="vue-template">
        <div class="container login">
       <h3 class="flex flex-center" style="margin-top:30px;">Contrato</h3>
        <p style="margin-top:30px;">
        Aqui se veran las clausulas (reglas del juego) entre la directiva del grupo y tu.
        </p>
        <br>
           Nombre completo.- 
             <div class="form-group">
               <input type="text" class="form-control" placeholder="nombre completo *" required id="name" v-model="form.name" />
             </div>
           <br>
             <div class="q-pa-lx q-gutter-y-lx column items-start">
       <button class="btn btn-outline-success btn-lg btn-block" @click="register()" role="button">Acepto</button>    
       <router-link class="btn btn-outline-danger btn-lg btn-block" to="/Error404.vue/" role="button">No Acepto</router-link>
             </div>
        </div>
    </div>
</template>
<script>
import { Cookies, Notify } from 'quasar';
import { LocalStorage, SessionStorage } from 'quasar';

    export default {
        name: 'Contract',
        data() {
            return {
                 form: {
                    _id: 0,
                    name: ''
                   
                },
                submitted: false
            }
        },
        methods:{
            register(){
                if(!this.form.name){
                    Notify.create({message:'IMPORTANTE : debe llenar todos los campos !!!.'})
                    return;
                }else{
                    //LocalStorage.set("lname", this.form.name)
                    Cookies.set("lname", this.form.name)
                    this.$router.push({path:'/tabs/',query:{name:this.form.name}})
                }
            }
        }
    }

</script>