<template>
  <q-page class="">
   
   
      <div class="q-pa-md q-gutter-md">
   
  <q-item v-ripple v-for="member in members" v-bind:key="member.phone">
      <q-item-section side>
        <q-avatar rounded size="48px">
          <img src="~assets/profile.png" />
          <q-badge floating color="teal">new</q-badge>
        </q-avatar>
      </q-item-section>
      <q-item-section>
        <q-item-label><b>{{member.name}}</b></q-item-label>
        <q-item-label><b>{{member.phone}}</b></q-item-label>
        <ul id="example-1">
          <div v-for="opc in ops" v-bind:key="opc.score">
            
            <div v-if="member.id === opc.socio">
              <q-item-label>Calificacion: <b>{{opc.score}}</b></q-item-label>
              <q-item-label>No. Servicios: <b>{{count + 1}}</b></q-item-label>    
            </div>
            <div v-else>
               <q-item-label>Calificacion: <b>0</b></q-item-label>
              <q-item-label>No. Servicios: <b>0</b></q-item-label>   
            </div>
          </div>
        </ul>
        
       <!-- <q-item-label caption>Total Talentos: <b>{{member.talents}}</b></q-item-label> -->
      </q-item-section>
      <q-item-section side>
        <b>{{member.occupation}}</b><br>
      </q-item-section>
    
    </q-item>
      </div>
    <!--  <router-link class="btn btn-success btn-lg btn-block" to="/office/" role="button">Directorio de oficios</router-link>
     <router-link class="btn btn-success btn-lg btn-block" to="/service/" role="button">Pagar servicio</router-link>
     <router-link class="btn btn-success btn-lg btn-block" to="/balance/" role="button">Estado de cuenta</router-link>
     <router-link class="btn btn-success btn-lg btn-block" to="/teachers/" role="button">Aprendices y Maestros</router-link>
 -->

  </q-page>
  
</template>

<script>
import axios from 'axios'

export default {
  name: 'Directory',
  data () {
    return {
      link: 'inbox',
      members: null,
      ops: null,
      count:0,
    }
  },
  created: function(){
    console.log(this.$route.query.id)
    axios.get('http://tutitrueques.ddns.net:3000/members/all/')
    .then(res => {
      this.members = res.data;
      console.log(res.data);
      axios.get('http://tutitrueques.ddns.net:3000/transf/info/5')
      .then(res => {
        console.log(res.data);
        this.ops = res.data;
      })
    })
  },
}
</script>
