<template>
  <q-page class="">
   
   
      <div class="q-pa-md q-gutter-md">
   
  <q-item v-ripple>
      <q-item-section side>
        <q-avatar rounded size="48px">
          <img src="~assets/profile.png" />
          <q-badge floating color="teal">new</q-badge>
        </q-avatar>
      </q-item-section>
      <q-item-section>
         <q-item-label><b>Socio : {{member[0].code}}</b></q-item-label>
        <q-item-label><b>{{member[0].name}}</b></q-item-label>
         <q-item-label><b>{{member[0].phone}}</b></q-item-label>
        <q-item-label>Calificacion: <b>{{this.qualify}}</b></q-item-label>
        <q-item-label>No.Servicios: <b>{{this.services}}</b></q-item-label>
        <q-item-label caption>Total Talentos: <b>{{member[0].talents}}</b></q-item-label>
      </q-item-section>
      <q-item-section side>
        <b>{{member[0].occupation}}</b>
      </q-item-section>
    </q-item>
      </div>
    <!--  <router-link class="btn btn-success btn-lg btn-block" to="/office/" role="button">Directorio de oficios</router-link>
     <router-link class="btn btn-success btn-lg btn-block" to="/service/" role="button">Pagar servicio</router-link>
     <router-link class="btn btn-success btn-lg btn-block" to="/balance/" role="button">Estado de cuenta</router-link>
     <router-link class="btn btn-success btn-lg btn-block" to="/teachers/" role="button">Aprendices y Maestros</router-link>
 -->
<div class="q-pa-md q-gutter-md">
    <q-list padding class="rounded-borders" style="max-width: 450px">
      <q-item-label header>Menu General</q-item-label>

      <q-item clickable v-ripple to="/directory/">
        <q-item-section avatar top>
          <q-avatar icon="" color="primary" text-color="white" />
        </q-item-section>

        <q-item-section>
          <q-item-label lines="1">Directorio Oficios</q-item-label>
          <q-item-label caption>contratar servicio</q-item-label>
        </q-item-section>

        <q-item-section side>
          <q-icon name="info"/>
        </q-item-section>
      </q-item>

      <q-item clickable v-ripple>
        <q-item-section avatar top>
          <q-avatar icon="" color="primary" text-color="white" />
        </q-item-section>

        <q-item-section>
          <q-item-label lines="1">Directorio Aprendizaje</q-item-label>
          <q-item-label caption>aprendices y maestros</q-item-label>
        </q-item-section>

        <q-item-section side>
          <q-icon name="info" />
        </q-item-section>
      </q-item>

      <q-item clickable v-ripple @click="transfer()" >
        <q-item-section avatar top>
          <q-avatar icon="" color="primary" text-color="white" />
        </q-item-section>

        <q-item-section>
          <q-item-label lines="1">Transferir</q-item-label>
          <q-item-label caption>transfiere talentos</q-item-label>
        </q-item-section>

        <q-item-section side>
          <q-icon name="info" />
        </q-item-section>
      </q-item>
      <q-item clickable v-ripple @click="balance()">
        <q-item-section avatar top>
          <q-avatar icon="" color="primary" text-color="white" />
        </q-item-section>

        <q-item-section>
          <q-item-label lines="1">Cuenta</q-item-label>
          <q-item-label caption>estado de cuenta</q-item-label>
        </q-item-section>

        <q-item-section side>
          <q-icon name="info" />
        </q-item-section>
      </q-item>

       <q-item clickable v-ripple>
        <q-item-section avatar top>
          <q-avatar icon="" color="primary" text-color="white" />
        </q-item-section>

        <q-item-section>
          <q-item-label lines="1">Varios</q-item-label>
          <q-item-label caption>en desarrollo</q-item-label>
        </q-item-section>

        <q-item-section side>
          <q-icon name="info" />
        </q-item-section>
      </q-item>
<!-- 
      <q-separator spaced />
      <q-item-label header>Configuracion</q-item-label>

      <q-item clickable v-ripple>
        <q-item-section avatar top>
          <q-avatar icon="" color="grey" text-color="white" />
        </q-item-section>

        <q-item-section>
          <q-item-label lines="1">Perfil</q-item-label>
          <q-item-label caption>cambio de nip, soporte, etc.</q-item-label>
        </q-item-section>

        <q-item-section side>
          <q-icon name="info" />
        </q-item-section>
      </q-item>

      <q-item clickable v-ripple>
        <q-item-section avatar top>
          <q-avatar icon="" color="grey" text-color="white" />
        </q-item-section>

        <q-item-section>
          <q-item-label lines="1">Idioma</q-item-label>
          <q-item-label caption>cambio de lenguage a mostrar</q-item-label>
        </q-item-section>

        <q-item-section side>
          <q-icon name="info" color="grey" />
        </q-item-section>
      </q-item>

      -->
    </q-list>
  </div>
  </q-page>
  
</template>

<script>
import axios from 'axios'
import { Cookies, LocalStorage } from 'quasar';

export default {
  name: 'PageIndex',
  data () {
    return {
      link: 'inbox',
      member: null,
      qualify: 0,
      services: 0,
    }
  },
  created: function(){
    if(!Cookies.has("lcode")){
      this.$router.push({ path : '/'});
      return;
    }
    console.log(this.$route.query.id)
    //axios.get('http://tutitrueques.ddns.net:3000/members/member/' + this.$route.query.id)
    axios.get('http://tutitrueques.ddns.net:3000/members/member/' + Cookies.get("lphone"))
    .then(res => {
      this.member = res.data;
      console.log(res.data);
       axios.get('http://tutitrueques.ddns.net:3000/transf/info/' + res.data[0].code)
        .then(res => {
          console.log(res.data);
        //  this.ops = res.data;
          var cal = 0;
          var counter = 0;
          res.data.forEach((value, index) => {
           //   arr.push(value);
           cal += value.score;
           counter++;
              //console.log(value++);
           //   console.log(index);
          });
          this.services = counter;
          this.qualify = cal/counter;
          console.log(cal/counter);
        })
    })
  },
  methods: {
    transfer(){
      console.log('tranfers page...');
         this.$router.push({ path : '/transfer/', query: {id: Cookies.get("lphone") }});
    },
    balance(){
      console.log('balence page....');
      this.$router.push({ path : '/balance/', query: {id: this.member[0].code}});
    }
  }
}
</script>
