<template>
    <div class="vue-template">
        <div class="container login">
       <h3 class="flex flex-center" style="margin-top:30px;">Introduccion</h3>
       <p style="margin-top:25px;">
           Esto es una mera prueba simulacro, sin efecto real alguno, simplemente
           para que ajustemos la aplicacion a que opere satisfactoriamente.
           <br>
           'esto' (asi le llamamos al cumulo de estas ideas) es que nos podamos todos
           poner a trabajar en lo qque mas nos gusta hacer por los demas (Ser) y a 
           descubrir (precticando) lo que creemos es nuestra vocacion.
           <br>
           Y a cambio, mediante la transferencia (via celular) de 'Talentos' (nuestra 
           unidad de cambio) obtengamos los servicios que del grupo deseamos.
   
   
      <h6> Explicamos las 'Comisiones de Padrino(s)'</h6>
Quien(es) invita(n) a participar (o sea, el o los Padrinos) recibirán una comisión de los trueques de sus ahijados (o sea, sus invitados), correspondientes al 3% de su primer año de trueques, 2% durante sus segundo, y 1% de los trueques que realicen durante su tercer año.
Ello, dividido en 2/3 partes a los padrinos de los proveedores y 1/3 parte a los padrinos de los socios que actúen como clientes en sus trueques por servicios prestados y recibidos respectivamente. 
Si digitan un solo Padrino, este recibe (en su cuenta) las comisiones completas, si son dos Padrinos (como divididas entre quien invita a un líder de grupo y el líder, que recibirán comisiones de Todos los adeptos), o sin Padrino, esas comisiones se dirigen a niños hambrientos.
       </p>
       <router-link class="btn btn-outline-success btn-lg btn-block" to="/contract/" role="button" style="margin-top:20px;margin-bottom:40px;">Continuar</router-link>

        </div>
    </div>
</template>
<script>
    export default {
        name: 'Intro',
        data() {
            return {}
        }
        ,created: function() {
            console.log("enter");
         
        }
    }

</script>