<template>
    <div class="vue-template">
        <div class="container login">
        <form v-on:submit.prevent="submitForm">
            <h3>Ingresar</h3>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control form-control-lg" v-model="user.email"/>
            </div>
            <div class="form-group">
                <label>NIP</label>
                <input type="password" class="form-control formcontrol-lg" v-model="user.passw" />
            </div>
            <button type="submit" class="btn btn-dark btn-lg btn-block">Login</button>

            <p class="forgot-password text-right mt-2 mb-4">
                <router-link to="/forgot-password">Olvido su NIP ? </router-link>            
            </p>
        </form>
        </div>
    </div>
</template>
<script>

import axios from 'axios';
import { Notify } from 'quasar';

    export default {
        name: 'Login',
        data() {
            return {
                user: {
                    email: '',
                    passw: '',
                }
            }
        },
        methods: {
             submitForm(e) {
          //  axios.post('http://localhost:3000/login/create', this.user)    
            axios.post('http://tutitrueques.ddns.net:3000/login/create', this.user)
                 .then((res) => {
                     //Perform Success Action
                     console.log(res);
                    
                   //  this.$q.notify('Se ha guardado la informacion !!!.');
                     Notify.create({
                   type: 'positive',
                   color: 'positive',
                   timeout: 2000,
                   position: 'center',
                   message: 'La informacion se guardo con exito !!!'
                        })  
                     
                 })
                 .catch((error) => {
                     // error.response.status Check status code
                     console.log(error);
                       Notify.create({
                   type: 'negative',
                   color: 'negative',
                   timeout: 1000,
                   position: 'center',
                   message: 'Error al enviar la informacion!!!'
               })
                 });
        }
    }
    }
</script>

<style>
.login {
    background: -webkit-linear-gradient(left, #d8a20f, #f3e416);
    margin-top: 3%;
    padding: 3%;
}
</style>