<template>
  <div class="q-pa-md">
      <h5 class="register-heading" style="text-align:center">Registro</h5>
      <br>
      <p>
          <b>Sr:{{this.form.name}}</b>, para continuar con su registro debe completar los siguientes pasos.
      </p>
  
    <q-stepper
      v-model="step"
      vertical
      color="primary"
      animated
    >
      <q-step
        :name="1"
        title="Foto"
        icon=""
        :done="step > 1"
      >
        Debe tomarse una selfie con su identificacion
        IMPORTANTE: AUN ESTA EN FASE DE INTEGRACION

        <q-stepper-navigation>
          <button @click="step = 2" class="btn btn-warning" >Continuar</button>
        </q-stepper-navigation>
      </q-step>

      <q-step
        :name="2"
        title="Datos personales"
        icon=""
        :done="step > 2"
      >
        
<div class="form-group">
                                         <!--  tomar selfie: <input id="myFileInput" type="file" accept="image/*;capture=camera" value="tomar selfie"> -->
 <input type="hidden" class="form-control" v-model="form.id"  readonly/>     
  <input type="text" class="form-control" v-model="form.codechain" readonly />
  <input type="text" class="input input-xs form-control" v-model="form.code" readonly />
 <label>Nombre:</label>                                      
<input type="text" class="form-control" placeholder="nombre completo *" v-model="form.name" readonly />
<label>Fecha nacimiento:</label><input type="date" class="form-control"  @change="onChange($event)"  placeholder="yyyy-mm-dd" min="1940-01-01" max="2030-12-31"  v-model="form.birdhtday" required />
<label>Vocacion:</label><input type="text" class="form-control" placeholder="profesion o vocacion *" v-model="form.occupation" />
<label>Email:</label><input type="email" class="form-control" placeholder="correo electronico *" v-model="form.email" />
<label>Celular:</label><input type="number" minlength="10" maxlength="10" class="form-control" placeholder="numero celular *" v-model="form.phone" />

                                        </div>
        <q-stepper-navigation>
          <button @click="step = 3" class="btn btn-warning" label="Continue" >Continuar</button>
          <button flat @click="step = 1" class="btn btn-dark q-ml-sm" label="Back">Regresar</button>
        </q-stepper-navigation>
      </q-step>
<q-step
        :name="3"
        title="Padrinos"
        icon=""
        :done="step > 3"
      >
    Padrinos<br>
                                        <span class="label text-black">No.Socio #1:
                                            <input type="text" class="form-control"   v-model="form.sponsor1" /></span>
                                        <span class="label text-black">No.Socio #2:
                                            <input type="text" class="form-control"   v-model="form.sponsor2" />
                                        </span>
        <q-stepper-navigation>
          <button @click="step = 4" class="btn btn-warning" label="Continue" >Continuar</button>
          <button flat @click="step = 2" class="btn btn-dark q-ml-sm" label="Back" >Regresar</button>
        </q-stepper-navigation>
      </q-step>
      <q-step
        :name="4"
        title="Referencias"
        icon=""
        :done="step > 4"
      >
    
            <div class="form-group">
                <label>Primera Referencia:</label>
                                            <input type="text" class="form-control"  placeholder="nombre y telefono referencia #1 *" v-model="form.reference1" />
                                            <input type="text" class="form-control"  placeholder="email referencia #1 *" v-model="form.email1" />

                                        </div>
                                        <div class="form-group">
                                             <label>Segunda Referencia:</label>
  <input type="text" class="form-control"  placeholder="nombre y telefono referencia #1 *" v-model="form.reference1" />
                                            <input type="text" class="form-control"  placeholder="email referencia #1 *" v-model="form.email1" />
                                        </div>
                                        <div class="form-group">
                     <label>Tercera Referencia:</label>
  <input type="text" class="form-control"  placeholder="nombre y telefono referencia #1 *" v-model="form.reference1" />
                                            <input type="text" class="form-control"  placeholder="email referencia #1 *" v-model="form.email1" />
                                        </div>
                                        <div class="form-group">
                         <label>Cuarta Referencia:</label>
  <input type="text" class="form-control"  placeholder="nombre y telefono referencia #1 *" v-model="form.reference1" />
                                            <input type="text" class="form-control"  placeholder="email referencia #1 *" v-model="form.email1" />
                                        </div>
        <q-stepper-navigation>
          <button @click="step = 5" class="btn btn-warning" label="Continue" >Continuar</button>
          <button flat @click="step = 3" class="btn btn-dark q-ml-sm" label="Back" >Regresar</button>
        </q-stepper-navigation>
      </q-step>

      <q-step
        :name="5"
        title="Pregunta"
        icon=""
      >
       <div class="form-group">
                                            <input type="text" class="form-control"  placeholder="primer nombre de tu abuelo *" v-model="form.question" />
                                    <!--        <input id="myFileInput" type="file" accept="image/*;capture=camera"> -->
                                           <!-- <input type="file" accept="image/*"> -->
                                        </div>
                                        
        <q-stepper-navigation>
          <button class="btn btn-success" @click="submitForm()" >Finalizar</button>
          <button flat @click="step = 4"  label="Back" class=" btn btn-dark q-ml-sm" >Regresar</button>
        </q-stepper-navigation>
      </q-step>
    </q-stepper>
    
  </div>
</template>
<script>
import axios from 'axios';
import { Cookies, Notify } from 'quasar';
import { LocalStorage } from 'quasar';

export default {
    name: 'MenuTabs',
    data() {
        return {
            form:{
                 id: 0,
                    name: '',
                    code: '',
                    birdhtday: '',
                    reference1: '',
                    reference2: '',
                    reference3: '',
                    reference4: '',
                    email: '',
                    phone: '',
                    question: '',
                    talents: 50,
                    occupation: '',
                    score: 0,
                    codechain:'',
                    sponsor1: 0,
                    sponsor2: 0
            },
             splitedString: "",
                splitedName: "",
                secuence:0,
                submitted: false,
            tab: 'selfie',
            step: 1,
            
        }
    },
    created: function() {
        this.form.name = this.$route.query.name;
        console.log("LocalVar: " + Cookies.get("lname"));
    },
    methods: { onChange(event) {
                this.splitedString = event.target.value.split("-");
                var strg = this.splitedString[0] + this.splitedString[1] + this.splitedString[2];
                var strgn = this.form.name.split(" ");
                console.log(strg);
                console.log(strgn[0].substring(0,1) + strgn[1].substring(0,1));
                var codechain = strgn[0].substring(0,1) + strgn[1].substring(0,1) + strg;
                this.form.codechain = codechain.toUpperCase();
                this.form.code = strgn[0].substring(0,1) + strgn[1].substring(0,1) + this.splitedString[0].substring(0,1) + this.splitedString[1].substring(0,1) + this.splitedString[2].substring(0,1);
            },
            submitForm(e){
        console.log(this.form.name);
         if(!this.form.question){
                    Notify.create({type: 'negative',
                   color: 'negative',
                   timeout: 1000,
                   position: 'center',
                   message:'IMPORTANTE : debe llenar todos los campos !!!.'})
                    return;
                }
            axios.post('http://tutitrueques.ddns.net:3000/members/create', this.form)
                 .then((res) => {
                     //Perform Success Action
                     console.log(res);
                    Cookies.set("lcode",this.form.code);
                    Cookies.set("lphone",this.form.phone);
                   //  this.$q.notify('Se ha guardado la informacion !!!.');
                     Notify.create({
                   type: 'positive',
                   color: 'positive',
                   timeout: 2000,
                   position: 'center',
                   message: 'La informacion se guardo con exito !!!'
                        })  
                        if(res.status === 200) {
                          this.$router.push({ path : '/main/'});
                        }
                 })
                 .catch((error) => {
                     // error.response.status Check status code
                     console.log(error);
                       Notify.create({
                   type: 'negative',
                   color: 'negative',
                   timeout: 1000,
                   position: 'center',
                   message: 'Error al enviar la informacion!!!'
               })
                 }).finally(() => {
                     //Perform action in always

                 });
                
            
    }
    }
}
</script>