<template>
    <div class="vue-template">

<div class="container register">
                <div class="row">
                   <!-- <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Bienvenido.</h3>
                    </div>-->
                   
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h5 class="register-heading">Ingresar datos</h5>
                                <form v-on:submit.prevent="submitForm">
                                <div class="row register-form">
                                    <div class="row">
                                    <div class="col"> 
                                        <label>Este es tu numero de socio</label>
                                    </div>
                                    <div class="col">  <input type="text" class="form-control" v-model="form.codechain" readonly />
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                         <!--  tomar selfie: <input id="myFileInput" type="file" accept="image/*;capture=camera" value="tomar selfie"> -->
                                            <input type="hidden" class="form-control" v-model="form.id"  readonly/>
                                           
                                           <input type="text" class="form-control" placeholder="nombre completo *" id="name" v-model="form.name" readonly />

                                        </div>
                                        <div class="form-group">
                                         <q-banner rounded class="bg-gray-6 text-black">

                                        Padrinos<br>
                                        <span class="label text-black">No.Socio #1:
                                            <input type="text" class="form-control"   v-model="form.sponsor1" /></span>
                                        <span class="label text-black">No.Socio #2:
                                            <input type="text" class="form-control"   v-model="form.sponsor2" />
                                        </span>

                                        </q-banner>
                                        </div>
                                        <div class="form-group">
                                    
                                            <input type="date" class="form-control"  @change="onChange($event)"  placeholder="yyyy-mm-dd" min="1940-01-01" max="2030-12-31"  v-model="form.birdhtday" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
                                           </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control"  placeholder="nombre y telefono referencia #1 *" v-model="form.reference1" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control"  placeholder="nombre y telefono referencia #2 *" v-model="form.reference2" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control"  placeholder="nombre y telefono referencia #3 *" v-model="form.reference3" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control"  placeholder="nombre y telefono referencia #4 *" v-model="form.reference4" />
                                        </div>
                                        
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="profesion o vocacion *" v-model="form.occupation" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="correo electronico *" v-model="form.email" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="10" class="form-control" placeholder="numero celular *" v-model="form.phone" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control"  placeholder="primer nombre de tu abuelo *" v-model="form.question" />
                                    <!--        <input id="myFileInput" type="file" accept="image/*;capture=camera"> -->
                                           <!-- <input type="file" accept="image/*"> -->
                                        </div>
                                        
                                        <div class="form-group">
                                        <input type="submit" class="btnRegister"  value="Registrarme"/>
                                       
                                    </div> 
                                   
                                </div>
                            </div> 
                        </form>
                        <!--
 <router-link class="btn btn-success btn-lg btn-block" to="/main/" role="button">Panel</router-link> -->

                        </div>
                            
                        </div>
                    
                </div>
            </div>
    </div>
</template>
<script>
import axios from 'axios';
import { Notify } from 'quasar';
import { ref } from 'vue';

    export default {
        name: 'Register',
        data() {
            return {
                form: {
                    id: 0,
                    name: '',
                    birdhtday: '',
                    reference1: '',
                    reference2: '',
                    reference3: '',
                    reference4: '',
                    email: '',
                    phone: '',
                    question: '',
                    talents: 50,
                    occupation: '',
                    score: 0,
                    codechain:'',
                    sponsor1: 0,
                    sponsor2: 0
                },
                splitedString: "",
                splitedName: "",
                secuence:0,
                submitted: false
            };
        },
        created: function() {
            this.form.name = this.$route.query.name;
            
            //axios.get('http://192.168.1.167:3000/members/all')
           //  axios.get('http://tutitrueques.ddns.net:3000/members/last')
           // .then((res)=>{
            //    console.log(res.data[0].id);
             //   this.form.id = parseInt(res.data[0].id) + 1;
             //   console.log(this.form.id);
              //  this.form.reference1 = 'josser';
            // })
          /*   axios.get('http://tutitrueques.ddns.net:3000/members/info' + res.data[0].id)
            .then((res)=>{
                if(res.data[0].id != null){
                    console.log("El numero de socio ya esta en uso");
                    //this.$router.push({ path : '/main/', query: {id: this.form.phone }});
                    window.location.reload();
                }
                
             }) */
        }
        /*
        created: function() {
            axios.get('http://192.168.1.167:3000/members/sec')
            .then((res) => {
                console.log(res.data.seqValue);
                this._id = res.data.seqValue + 1;
                console.log(this._id);
                axios.get('http://192.168.1.167:3000/members/set/' + this._id)
                .then((res)=>{
                    console.log(res);
                }).catch((error)=>{console.log(error)})
            })
            .catch((error)=>{
                console.log(error)
            })
        }*/
        ,
       
        methods: {
            onChange(event) {
                this.splitedString = event.target.value.split("-");
                var strg = this.splitedString[0] + this.splitedString[1] + this.splitedString[2];
                var strgn = this.form.name.split(" ");
                console.log(strg);
                console.log(strgn[0].substring(0,1) + strgn[1].substring(0,1));
                var codechain = strgn[0].substring(0,1) + strgn[1].substring(0,1) + strg;
                this.form.codechain = codechain.toUpperCase();
            },
            submitForm(e) {
                this.submitted = true;

                if(!this.form.question){
                    Notify.create({message:'IMPORTANTE : debe llenar todos los campos !!!.'})
                    return;
                }
            axios.post('http://trueques.ddns.net:3000/members/create', this.form)
                 .then((res) => {
                     //Perform Success Action
                     console.log(res);
                    
                   //  this.$q.notify('Se ha guardado la informacion !!!.');
                     Notify.create({
                   type: 'positive',
                   color: 'positive',
                   timeout: 2000,
                   position: 'center',
                   message: 'La informacion se guardo con exito !!!'
                        })  
                        if(res.status === 200) {
                          this.$router.push({ path : '/main/', query: {id: this.form.phone }});
                        }
                 })
                 .catch((error) => {
                     // error.response.status Check status code
                     console.log(error);
                       Notify.create({
                   type: 'negative',
                   color: 'negative',
                   timeout: 1000,
                   position: 'center',
                   message: 'Error al enviar la informacion!!!'
               })
                 }).finally(() => {
                     //Perform action in always

                 });
                
            }
        }
    }


</script>

<style>
.register{
    background: -webkit-linear-gradient(left, #d8a20f, #f3e416);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #87CEFA	;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #87CEFA	;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #000000;
    border: 2px solid #87CEFA;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
</style>