<template>
    <q-page>
           <div class="q-pa-lg q-gutter-lg">
   
  <q-item v-ripple>
      <q-item-section side>
        <q-avatar rounded size="48px">
          <img src="~assets/profile.png" />
          <q-badge floating color="teal">new</q-badge>
        </q-avatar>
      </q-item-section>
      <q-item-section>
         <q-item-label><b>Socio no: {{member[0].code}}</b></q-item-label>
        <q-item-label><b>{{member[0].name}}</b></q-item-label>
         <q-item-label><b>{{member[0].phone}}</b></q-item-label>
        <q-item-label caption>Total Talentos: <b>{{member[0].talents}}</b></q-item-label>
      </q-item-section>
      <q-item-section side>
        <b>{{member[0].occupation}}</b>
      </q-item-section>
    </q-item>

                                     
                   <form v-on:submit.prevent="submitForm">
                                <div class=" register-form">
                                    <div class="">
                                        <div class="form-group">
                                                          <h5 class="register-heading">Transferir Talentos</h5>

                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" class="form-control" v-model="form.socio"/>
                                            <input type="text" class="form-control" required placeholder="ingrese numero de socio a transferir *" id="id" v-model="form.id" />
                                        </div>
                                        <div class="form-group">
                                            <input type="number"  class="form-control" required placeholder="ingrese la cantidad de talentos a transferir *" v-model="form.talents" @click="onClick($event)" @keyup="onKeyUp($event)" @change="onChange($event)" />
                                            <input type="hidden" class="form-control" v-model="form.percent"/>
                                            <q-item-label color="green"><br><b>Comision %: {{form.percent}} </b></q-item-label>
                                        </div>
                                        <div class="form-group">
            <q-item-label>Como calificaria el servicio ? </q-item-label>
        <div class="q-pa-lg">
                       <q-option-group
    color="primary"
    type="radio"
    v-model="group"
    :options="options"
    @input="onChangeSrv()"
  />
        </div>
        <q-item-label>Como calificaria el precio ? </q-item-label>
         <div class="q-pa-lg">
                       <q-option-group
    color="primary"
    type="radio"
    v-model="price"
    :options="options"
  />
        </div>
                                          </div> <input type="submit" class="btnRegister"  value="Transferir" style="margin-bottom:30px"/>
        
                                    </div>
                            </div> 
                        </form>                       
           </div>
    </q-page>
</template>

<script>
import axios from 'axios';
import { Notify } from 'quasar';
import { ref } from 'vue';

export default {
    name: 'Transfer',
    data() {
        return {
            form: {
                id:'',
                socio:'',
                receiver:'',
                talents:'',
                percent: 0,
                score:100
            },
            comision: 20,
            owner:'',
            member: null,
            submitted: false,
            group: '100',
            price: '100',
            subtotal:0,
            options: [
                {
                    label: 'Bueno',
                    value:'100'
                },
                {
                    label: 'Regular',
                    value: '50'
                },
                {
                    label: 'Malo',
                    value: '0'
                }
            ],
            
        }
    },
    created: function(){
    console.log(this.$route.query.id)
    axios.get('http://tutitrueques.ddns.net:3000/members/member/' + this.$route.query.id)
    .then((res) => {
      this.member = res.data;
      this.form.socio = res.data[0].code;
      this.owner = res.data[0].talents;
      console.log(res.data);
    })
    Notify.create({
                   type: 'secondary',
                   color: 'secondary',
                   position: 'center',
                   message: 'Se le comunica que toda transferencia de talentos se carga un 20% extra por comision. !!!',
                   
                   });
     
  },
  methods: {
      onKeyUp(event){
           this.subtotal = parseInt(this.form.talents) + parseInt(this.form.percent);
          console.log(this.form.talents);
          console.log(this.owner);
          if(this.subtotal > this.owner){
               Notify.create({
                   type: 'secondary',
                   color: 'secondary',
                   position: 'center',
                   message: 'ATENCION: Usted no cuenta con suficientes talentos para realizar esta operacion. !!!',        
                   });
                   return;
          }
                //this.form.percent = Math.round((event.target.value * this.comision) / 100);
                this.form.percent = (event.target.value * this.comision) / 100;
      },
      onChangeSrv(event){
          this.form.score = this.group;
          console.log(this.form.score);
      },
      onClick(event){
      this.subtotal = parseInt(this.form.talents) + parseInt(this.form.percent);
          console.log(this.form.talents);
          console.log(this.owner);
          if(this.subtotal > this.owner){
               Notify.create({
                   type: 'secondary',
                   color: 'secondary',
                   position: 'center',
                   timeout: 100,
                   message: 'ATENCION: Usted no cuenta con suficientes talentos para realizar esta operacion. !!!',        
                   });
                   return;
          }
                //this.form.percent = Math.round((event.target.value * this.comision) / 100);
                this.form.percent = (event.target.value * this.comision) / 100;
      },
      onChange(event) {
          this.subtotal = parseInt(this.form.talents) + parseInt(this.form.percent);
          console.log(this.form.talents);
          console.log(this.owner);
          if(this.subtotal > this.owner){
               Notify.create({
                   type: 'secondary',
                   color: 'secondary',
                   position: 'center',
                   timeout:100,
                   message: 'ATENCION: Usted no cuenta con suficientes talentos para realizar esta operacion. !!!',        
                   });
                   return;
          }
                //this.form.percent = Math.round((event.target.value * this.comision) / 100);
                this.form.percent = (event.target.value * this.comision) / 100;
            },
      submitForm(e){
            if(this.subtotal > this.owner){
               Notify.create({
                   type: 'secondary',
                   color: 'secondary',
                   position: 'center',
                   timeout:100,
                   message: 'ATENCION: Usted no cuenta con suficientes talentos para realizar esta operacion. !!!',        
                   });
                   return;
          }
          this.submitted = true;
          axios.get("http://tutitrueques.ddns.net:3000/members/info/" + this.form.id)
          .then((res)=>{
              var balance = res.data[0].talents;
              console.log(balance);
              // Update talents balance
            //  e.target.reset();
            console.log(this.form.socio);
            console.log("ID socio a transferir: " + this.form.id);
              axios.put("http://tutitrueques.ddns.net:3000/members/transfer/" + this.form.id,{
            talents: parseInt(this.form.talents) + parseInt(balance),
          }).then((res)=>{
              console.log(res.data);
              // Update proto
            /*
            GET INFO 
            */
           axios.put("http://tutitrueques.ddns.net:3000/members/transfer/" + this.form.socio,{
               talents: parseInt(this.owner) - parseInt(this.form.talents) - parseInt(this.form.percent)
           }).then((res)=>{
           console.log(" talentos del socio emisor :" + this.owner);
                Notify.create({
                   type: 'positive',
                   color: 'positive',
                   timeout: 3000,
                   position: 'center',
                   message: 'Transferencia de Talentos Exitosa !!!'});
            this.form.receiver = this.form.id;
            axios.post('http://tutitrueques.ddns.net:3000/transf/create', this.form)
            .then((res)=>{
                console.log(res.data);
            })
              /* axios.get('http://tutitrueques.ddns.net:3000/members/member/' + this.$route.query.id)
                .then(res => {
                this.member = res.data;
              //UPDATE TALENTS
              var id_emisor = res.data[0].id;

              console.log(id_emisor);

                console.log(res.data);
                
                }).catch((error) => {
                    console.log(error)
                });*/
                 if(res.status === 200) {
                          this.$router.push({ path : '/main/', query: {id: this.$route.query.id }});
                        }
           });
          });
          });
          
      }
  }
}

</script>


<style>
.register{
    background: -webkit-linear-gradient(left, #d8a20f, #f3e416);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #87CEFA	;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #87CEFA	;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #000000;
    border: 2px solid #87CEFA;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 0%;
    color: #495057;
}
</style>