<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          
           <img
      alt="Trueque Vocacional logo"
      src="~assets/logo1.png" width="132px" height="32px"
    >
        </q-toolbar-title>

        <div>trueque vocacional v{{ $q.version }} 
 <!--<div v-if="$q.platform.is.desktop">
  I'm only rendered on desktop!
</div>

<div v-if="$q.platform.is.mobile">
  I'm only rendered on mobile!
</div>
-->
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          Menu de Navegacion
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
     
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksData = [
  {
    title: 'Directorio de Oficios',
    caption: 'contratar oficio',
    icon: 'groups',
    link: '/directory/'
  },
  {
    title: 'Pagar Servicio',
    caption: 'pago de servicios solicitados',
    icon: 'attach_money',
    link: 'https://github.com/quasarframework'
  },
  {
    title: 'Estado de Cuenta',
    caption: 'consultar tu estado de cuenta',
    icon: 'description',
    link: 'https://chat.quasar.dev'
  },
  {
    title: 'Aprendizaje',
    caption: 'aprendices y maestros',
    icon: 'school',
    link: 'https://forum.quasar.dev'
  },
 
];

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData
    }
  }
}
</script>
