<template>

  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-toolbar-title>
            <img style="margin-left:20px;"
      alt="Trueque Vocacional logo"
      src="~assets/logo1.png" width="130px" height="32px"
    > 
        </q-toolbar-title>
           <div>TutiTrueque v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>
    <q-page-container>
     <!--
<div class="container">
	<h3>Users:</h3>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Email</th>
				<th scope="col">City</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="user in users" v-bind:key="user.id">
				<th scope="row">{{user.id}}</th>
				<td>{{user.name}}</td>
				<td>{{user.email}}</td>
				<td>{{user.address.city}}</td>
			</tr>
		</tbody>
	</table>
 </div>-->

    <div v-if="$route.path === '/'" class="flex flex-center">
      <div class="q-pa-md">
        <div class="flex-break q-px-md"></div>
       
        <div class="example-cell" tabindex="0"><h4>Bienvenidos al Tutitrueque</h4></div> 
        <div class="example-cell" tabindex="0">
     <!--     
     <img style="padding-top:100px;"
      alt="Quasar logo"
      src="~assets/logo.png" />
      -->
      </div>
      <!--<div class="example-cell" tabindex="0"> -->
<!-- <router-link class="btn btn-outline-primary btn-lg btn-block" to="/login/" role="button">Ingresar</router-link> -->

<router-link class="btn btn-outline-success btn-lg btn-block" to="/intro/" role="button">Continuar</router-link>
    </div>
      </div>
    
    <router-view  />
    </q-page-container>
    <q-footer elevated class="bg-grey-8 text-white">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
           
          </q-avatar>
          copyright copy 2021 todos los derechos reservados.
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>

  </q-layout>
</template>

<script>
import axios from 'axios';
import { Cookies } from 'quasar';
export default {
  // name: 'LayoutName',
  data () {
    return {
      leftDrawer: true,
      users: null
    }
  },
   created: function() {
		  axios
		  	.get('https://jsonplaceholder.typicode.com/users')
			.then(res => {
				this.users = res.data;
			})
	  },
    created: function() {
      if(Cookies.has("lcode")){
      this.$router.push({ path : '/main/'});
      return;
    }
      axios
        //.post('http://192.168.1.167:3000/auth/login',{
          .post('http://tutitrueque.ddns.net:3000/auth/login',{
          username: 'John',
          password: 'root'
        },{ mode: 'no-cors', headers: {
          'Access-Control-Allow-Origin': '*',
          'Content-Type': 'application/json'
        }, credentials: true})
        .then((response) => {
          console.log(response);
        }, (error) => {
          console.log(error);
        });
    }
}
</script>
<style>
.example-cell{
  text-align: center;
}
</style>